{% extends 'layout.html' %}

{% block title %} DASHBOARD {% endblock %}

{% block body %}


<section>

                <div class="card">
                    <div class="card-head style-primary">
                        <header>All Data</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <div class="card-body">

<div class="row">
  <div class="column">
    <div class="card">
      <h3>LC 1</h3>
          <a href="#" class="btn btn-primary">Open</a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>LC 2</h3>
          <a href="#" class="btn btn-primary">Open</a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>LC 3</h3>
          <a href="#" class="btn btn-primary">Open</a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>LC 4</h3>
          <a href="#" class="btn btn-primary">Open</a>
    </div>
  </div>
  
</div>
</div>
</div>


</section>

 {% endblock %}
